.img-movimento{
    width: 600px;
}
.gif-title{
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

.container{
    text-align: center;
    border: 50px groove rgb(155, 155, 219);
}
.container2{
    text-align: center;
    border: 50px groove rgb(155, 155, 219);
}